* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.container {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.4);

    width: 512px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
}

.gridUnit {
    width: 32px;
    height: 32px;

    background-color: white;
}

.gridUnitBlack {
    background-color: black;
}