@import url('https://fonts.cdnfonts.com/css/kawashiro-gothic');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Kawashiro Gothics', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(16, 58, 87);
    height: 100vh;
    gap: 32px;
}
.title-area, .option-selection {
    color: white;
    text-shadow: 0px -1px 8px black;
    text-align: center;
}

.title-area h1 {
    font-size: 48px;
}
.title-area p {
    font-size: 18px;
}

.option-selection p:first-child {
    font-size: 28px;
    margin-bottom: 8px;
}
.option-selection .btn {
    width: 150px;
    height: 150px;
    font-size: 24px;

    border-radius: 10px;
}
.option-selection .btn:hover {
    cursor: pointer;
    background-color: #a6f4ff;
}

.display-area {
    color: white;
    font-size: 22px;
    text-align: center;
}
.display-area .score {
    display: flex;
    width: 420px;
    justify-content: space-between;
}